
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url('assets/img/metallica.jpg');"></div>
    <div class="carousel-item " style="background-image: url('assets/img/ed-sheeran.jpg');"></div>
    <div class="carousel-item " style="background-image: url('assets/img/heroes.jpg');"></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container top-30">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="assets/img/music.png" alt="">
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolorem eligendi numquam repellendus esse molestias accusantium dolor possimus sunt. Voluptas quos nulla, quidem quam libero quo fugiat dignissimos labore ullam.
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/album.png" alt="">
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, ducimus deserunt incidunt maxime quasi ea eos unde aliquam vitae quod omnis repellat ratione, excepturi exercitationem atque non recusandae officiis debitis.
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/artist.png" alt="">
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis omnis consequuntur ipsam reiciendis, obcaecati aperiam ratione, nihil vero quisquam praesentium cumque quis voluptatem modi itaque! Quod fugit corporis unde.
    </div>
  </div>
</div>